@use "../../styles/variables.scss" as v;

.card {
  background-color: v.$color-white;
  width: 20rem;
  height: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    // box-shadow: 0 1rem 0.5rem v.$color-gray;
    scale: 1.025;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .card_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
