@use "../../styles/variables.scss" as v;
.card{
    display: flex;
    height:10rem;
    background-color:v.$color-gray ;
    // width:auto;
}
.precio{
    display: flex;
    position: relative;
    left: 4rem;
}
.title{
    margin-left: 2rem;
    margin-right: 2rem;
    white-space: nowrap;
}
.img{
    width: fit-content;
}
.buttonEliminar{
    // display: flex;
    height: fit-content;
    width: fit-content;
    background-color: red;
    font-size:x-small;
}
.input{
    // display: flex;
    width: 3rem;
    height: fit-content;
}
.cantidad{
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
    width:fit-content;
    height: 3rem;
    gap: 1rem;
}
.buttonDetails{
    display: flex;
    position: relative;
    margin-left: 15rem;
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}