@use "../../styles/variables.scss" as v;
.card {
  display: flex;
  height: 10rem;
  background-color: v.$color-gray;
}
.precio {
  display: flex;
  cursor: default;
  width: fit-content;
  font-size:larger;
  margin-left: 2rem;
}
.title {
  width: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
  white-space: nowrap;
  cursor: default;
}
.img {
  width: 10rem;
  height: auto;
}
.buttonEliminar {
  height: fit-content;
  width: fit-content;
  background-color: red;
  font-size: x-small;
}
.input {
  width: 3rem;
  height: fit-content;
  color: #000;
}
// .cantidad {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin-left: 8rem;
//   width: fit-content;
//   height: 3rem;
//   gap: 1rem;
// }
// .buttonDetails {
//   display: flex;
//   position: relative;
//   margin-left: 15rem;
//   font-size: xx-small;
//   width: fit-content;
//   height: fit-content;
// }
// .cant {
//   width: fit-content;
// }
