.contenedor{
    background-color: aqua;
    display: flex;
    flex-direction:row;
    width: fit-content;
    margin-bottom: 1rem;
    gap: 3rem;
    margin: 1.5rem;
}
.columnas{
    font-size: medium;
}