@use "../../styles/variables.scss" as v;

.resume {
  background-color: v.$color-white;
  width: 100%;
  border-radius: 0.5rem;
  height: fit-content;

  .title {
    padding: 2rem;
    border-bottom: 0.1rem solid v.$color-gray;
  }
}

.resume_cont {
  padding: 2rem;
  border-bottom: 0.1rem solid v.$color-gray;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .resume_product {
    display: flex;
    justify-content: space-between;
  }
}

.total {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.buy {
  padding: 2rem;
  padding-top: 1rem;

  button {
    font-size: 2rem;
    width: 100%;
  }
}
