.card{
    display: flex;
    flex-direction:row;
    background-color: gray;
}
.img{
    width:5rem;
    height: auto;
}
.title{
    margin-right: 0.3rem;
}
.button{
    margin-right: 2rem;
    margin-left: 0.5rem;
}