@use "../../../../styles/variables.scss" as v;

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: v.$color-dark;
    color: v.$color-white;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 3rem;
    opacity: 0.8;
    z-index: 1;
    
}
.buttonCarrito{
    display: flex;
    white-space:nowrap;
    color:v.$color-white;
    width: fit-content;
    height: fit-content;
    // margin: 0.3rem;
    &:hover{
        color:v.$color-dark;
    }
}
.product{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.contenedor{
    display: flex;
    width: fit-content;
    height: fit-content;
}
