@use "../../styles/variables.scss" as v;

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$color-dark;
}

.form_cont {
  height: fit-content;
  padding: 2rem;
  border: 0.1rem solid v.$color-white;
  border-radius: 0.5rem;
  width: 40rem;

  .form_camp {
    display: flex;
    flex-direction: column;
    color: v.$color-white;
    margin-bottom: 1rem;
    gap: 1rem;

    input {
      height: 3.5rem;
      width: 100%;
      padding-left: 1rem;
    }
  }

  .form_links {
    display: flex;
    justify-content: space-between;
    a {
      color: v.$color-white;
      font-size: 1.4rem;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    margin-top: 2.5rem;
    padding-inline: 2rem;
  }
}
