@use "../../../styles/variables.scss" as v;

.card {
  background-color: v.$color-white;
  width: 22.5rem;
  height: 30.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    // box-shadow: 0 1rem 0.5rem v.$color-gray;
    scale: 1.025;
  }

  .card_image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
    border-bottom: 0.1rem solid lighten(v.$color-gray, 5%);

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .card_icons {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 2.5rem;
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: #22222299;
      border-radius: 0.5rem;

      .icon_heart {
        color: v.$color-white;
        transition: 150ms;
        &:hover {
          color: #ee3737;
        }
      }

      .icon_heart_fav {
        transition: 150ms;
        color: #ee3737;
        &:hover {
          color: #ec5454;
        }
      }

      .icon_cart {
        color: v.$color-white;
        transition: 150ms;
        &:hover {
          color: lighten(v.$color-blue, 0%);
        }
      }
    }
  }

  .card_info {
    padding: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .info {
      display: flex;
      justify-content: space-between;
    }

    .card_price {
      font-weight: 500;
      font-size: 1.8rem;
    }

    .new,
    .used {
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }

    .new {
      background-color: v.$color-green-l;
      color: v.$color-green-s;
    }

    .used {
      background-color: v.$color-orange-l;
      color: v.$color-orange-s;
    }
  }
}
