@use "../../../styles/variables.scss" as v;

.card {
  background-color: v.$color-white;
  width: 22.5rem;
  height: 30.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;

  &:hover {
    // box-shadow: 0 1rem 0.5rem v.$color-gray;
    scale: 1.025;
  }

  .card_image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .card_info {
    padding: 0.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .card_price {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }
}
