@use "./variables.scss" as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: v.$font-primary;
  width: 100%;
  height: 100vh;
  background-color: v.$bg-light;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

input,
button {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

textarea {
  border: none;
  outline: none;
  font-family: v.$font-primary;
  font-size: 1.6rem;
  resize: none;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

//global variables
.cont {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}
