@use "./variables.scss" as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: v.$font-primary;
  width: 100%;
  height: 100vh;
  background-color: v.$bg-light;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}
