@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

//typographi
$font-primary: "Montserrat", sans-serif;

//colors
$color-dark: #252525;
$color-blue: #256cfa;
$color-gray: #e1e2e4;
$color-white: #fff;
$bg-light: #f2f3f7;
