@use "../../styles/variables.scss" as v;

.user{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.crearProd{
  padding: 2rem;
  background-color:v.$color-blue;
  width: fit-content;
  height: fit-content;
  color: v.$color-white;
  
  &:hover {
    background-color: darken(v.$color-blue, 10%);
  }
  
}
.icon{
  display:flex;
  position:relative;
  left: 1.5rem;
  font-size: 10rem;
}
.perfil{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // color: v.$color-dark;
  position: absolute;
  top: 10rem;
  left: 1rem;
  border: 0.15rem solid #000;
  border-color: v.$color-dark;
  gap: 3rem;
  background-color: v.$color-gray;
  height: auto;
  width: auto;
}
.contenedorPerfil{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
  right: 15rem;
  bottom: 5rem;
  gap: 1rem;
}
.botones{
  display: flex;
  justify-content: center;
  color: v.$color-dark;
  background-color: v.$bg-light;
  width: 100%;
}
.botones:hover{
  color: v.$color-blue;
}
// .title{

// }