@use "../../styles/variables.scss" as v;

.user{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.crearProd{
  padding: 2rem;
  background-color:v.$color-blue;
  width: fit-content;
  height: fit-content;
  color: v.$color-white;
  
  &:hover {
    background-color: darken(v.$color-blue, 10%);
  }
  
}
.icon{
  // display:flex;
  // position: relative;
  font-size: 10rem;
  // position: absolute;
}
.perfil{
  display: flex;
 
  color: v.$color-dark;
  position: absolute;
  top: 10rem;
  border: 0.15rem solid #000;
  border-color: v.$color-dark;
}
.contenedorPerfil{
  display: flex;
  position: relative;

}