@use "../../../styles/variables.scss" as v;

.contenedor{
    display: flex;

    background-color: v.$color-dark;
    color: v.$color-white;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 3rem;
    opacity: 0.8;
    z-index: 1;
    
}
.hola{
    color:v.$color-white;
}

