@use "../../../styles/variables.scss" as v;
.card {
  display: flex;
  background-color: v.$color-white;
  height: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;
  margin-bottom: 1rem;
  gap: 1rem;
  width: fit-content;

  // &:hover {
  //   scale: 1.025;
  // }
}

.card_image {
  min-width: 10rem;
  aspect-ratio: 1/1;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: medium;
  margin-bottom: 1rem;
  width: 15rem;
  height: 6.7rem;
}
.entregado{
    display: flex;
    position: relative;
    width: 10rem;
    
}
.buttonDetails{
    width: fit-content;
    height: fit-content;
    font-size: smaller;
    margin-top: 0.5rem;
    margin-left: 3rem;
}
.entrega{
    position: absolute;
    margin-top: 6rem;
    margin-left: 4.5rem;
   font-size: xx-small;
}
.precio{
    width: auto;
    font-size: small;
}
.rating{
    background-color: v.$color-gray;
    font-size: xx-small;
    color: v.$color-dark;
    
}
.puntuacion{
  z-index: 1;
  // display: flex;
  position: fixed;
  background-color: antiquewhite;
  // top:50%;
  width: fit-content;
  
}