@use "../../../styles/variables.scss" as v;


.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  border: 1px solid v.$color-gray;
  width: 80%;
  padding: 0.8rem;
  border-radius: 5px;

  p {
    padding-bottom: 0.5rem;
  }

  .dato {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0.7rem 0.8rem;

    .campo {
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }

  }

}

.link {
  cursor: pointer;
  border-radius: 0.5rem;
  color: v.$color-white;
  background-color: v.$color-blue;
  text-align: center;
  padding: 0.8rem;
}