@use "../../styles/variables.scss" as v;

// .crearProd {
//   padding: 2rem;
//   background-color: v.$color-blue;
//   width: fit-content;
//   height: fit-content;
//   color: v.$color-white;

//   &:hover {
//     background-color: darken(v.$color-blue, 10%);
//   }
// }

// .icon {
//   margin: 0 auto;
//   font-size: 10rem;
//   cursor: pointer;
// }

.perfil {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid v.$color-gray;
  background-color: v.$color-white;
  border-radius: 0.5rem;
  height: fit-content;
  overflow: hidden;

  a {
    color: v.$color-dark;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    font-weight: 400;
    transition: 150ms;
    // border-bottom: 0.1rem solid v.$color-gray;

    &:hover {
      color: v.$color-blue;
      background-color: v.$bg-light;
      border-left: 0.1rem solid v.$color-blue;
    }
  }

  .active {
    color: v.$color-blue;
    background-color: v.$bg-light;
    border-left: 0.1rem solid v.$color-blue;
  }
}

// .contenedorPerfil {
//   display: flex;
//   flex-direction: column;
//   margin-top: 2rem;
//   width: 100%;
//   // position: relative;
//   // right: 15rem;
//   // bottom: 5rem;
//   gap: 1rem;
//   a {
//     display: flex;
//     color: v.$color-dark;
//     justify-content: center;
//     width: 100%;
//     font-weight: 500;
//   }
//   a:hover {
//     color: v.$color-blue;
//   }
// }
// .title {
//   display: flex;
//   justify-content: center;
//   padding: 0.5rem;
//   cursor: pointer;

// }
