@use "../../styles/variables.scss" as v;

.header {
  height: 10rem;
  background-color: v.$color-dark;
}

.contHeader {
  display: flex;
  height: 100%;
  width: 95%;
  max-width: 120rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  img {
    cursor: pointer;
  }
}

.searchCont {
  display: flex;
  height: 3.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.searchbar {
  height: 100%;
  font-size: 2rem;
  width: 100%;
  color: v.$color-dark;
  padding-left: 1rem;
  border: none;
  outline: none;
}

.icon {
  width: auto;
  color: v.$color-white;
  font-size: 2rem;
}

.icons2 {
  font-size: 3rem;
  color: v.$color-white;
  margin-left: 1rem;
}

.contButton {
  border: none;
  height: 100%;
  padding-inline: 1rem;
  background-color: v.$color-blue;
  cursor: pointer;
  transition: 200ms;
}

.contButton:hover {
  background-color: darken(v.$color-blue, 10%);
}

.nav {
  display: flex;
  gap: 1rem;

  .icons2 {
    cursor: pointer;
    font-size: 2.5rem;
    transition: 100ms;

    &:hover {
      color: v.$color-blue;
    }
  }
}
