@use "../../../styles/variables.scss" as v;

.paginator {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.active {
  background-color: lighten(v.$color-blue, 20%);
  transition: 150ms;
}

.page {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
  transition: 150ms;

  &:hover {
    background-color: lighten(v.$color-blue, 30%);
  }
}

.prev,
.next {
  background-color: v.$color-blue;
  color: v.$color-white;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 150ms;

  &:hover {
    background-color: darken(v.$color-blue, 10%);
  }
}
