@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.footer {
  height: fit-content;
  margin-top: auto;
  background-color: v.$color-dark;
  width: 100%;
}

.footer_cont {
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  gap: 1rem;
  @include m.container;

  img {
    cursor: pointer;
    margin-bottom: 2.5rem;
  }
  a{
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: v.$color-white;
  }
}

.letras {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: v.$color-white;
}

.subtitle {
  display: flex;
  width: fit-content;
  color: v.$color-white;
  margin-bottom: 1.5rem;
}
