@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;

.footer {
  height: fit-content;
  margin-top: auto;
  background-color: v.$color-dark;
  width: 100%;
}

.footer_cont {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 20rem;
  @include m.container;
}

.letras {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 1em;
  color: v.$color-white;
  font-size: medium;
}

.subtitle {
  display: flex;
  width: fit-content;
  padding: 1em;
  color: v.$color-white;
  font-weight: 350;
  font-size: larger;
}
