@use "../../../styles/variables.scss" as v;
.contenedor{
  display: flex;
  position: fixed;
  // justify-content: center;
  top: 35%;
  left: 50%;
  margin-right: 15rem;
  background-color: v.$color-gray;
  font-size: xx-large;
  border-radius: 5px;
}
.input{
  width: 99%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
 
}
.title{
  // white-space: nowrap;
  padding: 0.5rem;
  margin: 1.25rem;
}
.buttonSend{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-left: 1rem;
 margin-bottom: 1rem;
  
}
.buttonX{
  display: flex;
  position:relative;
  font-size: x-small;
  background-color: red;
}