@use "../../../styles/variables.scss" as v;

.container {
  background-color: transparent;
  padding-top: 10px;

  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #ffffff transparent;
    top: -8px;
    right: 12px;
    transform: translateX(50%);
  }
}

.contCard {
  // padding-top: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.5rem;
  gap: 1rem;
}

.img img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}

.title {
  font-size: 1.3rem;
}
.precio {
  font-size: 2.2rem;
}

.buttonEliminar {
  color: v.$color-blue;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.carrito_btn {
  display: flex;
}

.option2,
.clear {
  display: block;
  // background-color: transparent;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  // transition: background-color 0.8s ease;
  // border-radius: 0 0 10px 10px;
  text-align: center;
  color: v.$color-white;
  transition: 150ms;

  // background-color: #c0c0c0;
}

.option2 {
  background-color: v.$color-blue;

  &:hover {
    background-color: darken(v.$color-blue, 10%);
  }
}

.clear {
  background-color: v.$color-red;

  &:hover {
    background-color: darken(v.$color-red, 10%);
  }
}

.dots {
  text-align: center;
  background: #fff;
  line-height: 9px;
  padding-bottom: 10px;
}

.contCard1 {
  padding: 8px 0 8px 0;
  text-align: center;
  background-color: #fff;
}

.disabled {
  // -webkit-filter: grayscale(1);
  // filter: grayscale(1);
  // color: red;
}
