@use "../../../styles/variables.scss" as v;

.buttonContainer {
  position: relative;
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  // background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  border: none;
  // padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.expanded {
  color: #d3e2ff;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  z-index: 1;
  text-align: right;
  // width: 100%;
}

.optionsContainer .option {
  display: block;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  // transition: background-color 0.8s ease;
}

.optionsContainer .option:hover {
  // background-color: #256cfa;
  background-color: rgba(65, 137, 230, .15);
  border-radius: 4px;
  // color: white;
}

.icons2 {
  cursor: pointer;
  font-size: 2.5rem;
  transition: 100ms;
  color: v.$color-white;
}