@use "../../styles/variables.scss" as v;
.button {
    padding: 1rem;
    background-color: v.$color-blue;
    color: v.$color-white;
    width: 15rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    transition: 200ms;

    &:hover {
      background-color: darken(v.$color-blue, 10%);
    }
  }
.title{
    display: flex;
    justify-content: center;
}