@use "../../styles/variables.scss" as v;
.puntuacion {
  display: flex;
  background-color: aquamarine;
}

.title {
  background-color: bisque;
  width: fit-content;
}
.ventas {
  display: flex;
  color: aliceblue;
  background-color: blue;
  width: fit-content;
  margin-top: 3rem;
}
