@use "../../styles/variables.scss" as v;
.contenedor {
  display: flex;
  gap: 5rem;
}

.title {
  width: fit-content;
}
.ventas {
  display: flex;
  width: fit-content;
  margin-top: 3rem;
  align-items: end;
}
.puntuacion {
  display: flex;
  font-size: xx-large;
}
// .puntuacionNum {
//   display: flex;
//   font-size: x-small;
// }
.button {
  display: flex;
  background-color: red;
}
