@use "../../styles/variables.scss" as v;
.contCarrito {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}
.buttonComprar{
  display: block;
  position: relative;
  white-space: nowrap;
  right:25rem;
  margin-top: 40rem;
  height: fit-content;
  width: fit-content;
}
.resumen{
  display: flex;
  flex-direction: row;
  width:fit-content;
  height:fit-content;
  background-color: v.$color-gray;
  margin-left: 2rem;
  border-radius: 10px;
 
}