@use "../../../styles/variables.scss" as v;

.details {
  h2 {
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-weight: 400;
  }

  .details_title {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;

    h2 {
      margin-bottom: 0;
    }

    .details_rating {
      display: flex;
      gap: 1rem;
    }

    .new,
    .used {
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      width: fit-content;
      margin-bottom: 1rem;
    }

    .new {
      background-color: v.$color-green-l;
      color: v.$color-green-s;
    }

    .used {
      background-color: v.$color-orange-l;
      color: v.$color-orange-s;
    }
  }

  .price {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;
  }

  .caracteristics {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;
  }

  .description {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;
  }
}

.buttons {
  padding-block: 1rem;

  .cant {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;

    input {
      height: auto;
      font-size: 2rem;
      width: 10rem;
      padding-inline: 1rem;
      border: 0.15rem solid v.$color-blue;
    }

    button {
      border: 0.15rem solid v.$color-blue;
      background-color: v.$color-white;
      color: v.$color-blue;
      padding-block: 1rem;
      font-size: 2rem;
      width: 100%;
      transition: 200ms;

      &:hover {
        background-color: lighten(v.$color-blue, 35%);
      }
    }
  }

  .button_buy {
    background-color: v.$color-blue;
    color: v.$color-white;
    padding-block: 1rem;
    font-size: 2rem;
    width: 100%;

    transition: 200ms;

    &:hover {
      background-color: darken(v.$color-blue, 10%);
    }
  }
}
