@use "../../../styles/variables.scss" as v;

.details {
  h2 {
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  p {
    display: inline-block;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .lighten {
    color: lighten(v.$color-dark, 25%);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .details_title {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;

    h2 {
      margin-bottom: 0;
    }

    .details_rating {
      display: flex;
      gap: 1rem;

      a {
        transition: 150ms;
        cursor: pointer;

        &:hover {
          color: lighten(v.$color-dark, 20%);
        }
      }
    }

    .new,
    .used,
    .noAvaible {
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      font-weight: 500;
      width: fit-content;
    }

    .new {
      background-color: v.$color-green-l;
      color: v.$color-green-s;
    }

    .used {
      background-color: v.$color-orange-l;
      color: v.$color-orange-s;
    }

    .noAvaible {
      background-color: v.$color-gray;
      color: v.$color-dark;
    }
  }

  .price {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;

    h3 {
      margin-bottom: 0;
    }
  }

  .details_state {
    margin-block: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      color: lighten(v.$color-dark, 25%);
    }
  }

  .caracteristics {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;

    p {
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }

    .char {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3rem;
      transition: 150ms;
      border: 0.1rem solid #000;
      cursor: pointer;

      &:hover {
        scale: 1.2;
      }

      &:active {
        scale: 1;
      }

      input {
        opacity: 0;
      }
    }
  }

  .description {
    padding-block: 1rem;
    border-bottom: 0.1rem solid v.$color-gray;
  }
}

.buttons {
  padding-block: 1rem;

  .cant {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;

    input {
      height: auto;
      font-size: 2rem;
      width: 10rem;
      padding-inline: 1rem;
      border: 0.15rem solid v.$color-blue;
    }

    button {
      border: 0.15rem solid v.$color-blue;
      background-color: v.$color-white;
      color: v.$color-blue;
      padding-block: 1rem;
      font-size: 2rem;
      width: 100%;
      transition: 200ms;

      &:hover {
        background-color: lighten(v.$color-blue, 35%);
      }
    }
  }

  .button_buy {
    background-color: v.$color-blue;
    color: v.$color-white;
    padding-block: 1rem;
    font-size: 2rem;
    width: 100%;

    transition: 200ms;

    &:hover {
      background-color: darken(v.$color-blue, 10%);
    }
  }

  .button_disable {
    background-color: v.$color-red;
    color: v.$color-white;
    padding-block: 1rem;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;

    transition: 200ms;

    &:hover {
      background-color: darken(v.$color-red, 10%);
    }
  }

  .button_enable {
    background-color: v.$color-gray;
    color: v.$color-white;
    padding-block: 1rem;
    font-size: 2rem;
    width: 100%;
    margin-top: 1rem;

    transition: 200ms;

    &:hover {
      background-color: darken(v.$color-gray, 10%);
    }
  }

  .disable {
    filter: grayscale(1);
    cursor: default;

    // &:hover,
    // &:focus {
    //   pointer-events: none;
    // }
  }
}
